* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: #333;
}
header{
    background-color: #FF0000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid transparent;
    padding: 5px;
    margin: 0px;
    width: 100%;
    gap: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.85);
}
footer{
    background-color: #0000ff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid transparent;
    padding: 5px;
    margin: 0px;
    width: 100%;
    gap: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.85);
}
.divisor,.redes, .titulo, .redesF, .divisor-footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divisor{
    justify-content: flex-start;
}
.divisor-footer{
    margin-top: 0;
    margin-bottom: 0;
}
.titulo{
    text-align: center;
}
.titulo h1 {
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    margin: 0;
    text-align: center;
    color: #333;
}

.redes{
        justify-content: flex-end;
        gap: 5%;
}
.Logo{
    width: 100%;
    max-width: 90px;
    height: auto;
    padding-left: 5px;
    padding-bottom: 10px;
}
.icono {
    width: 100%;
    max-width: 50px;
    height: auto;
}
@media (max-width: 650px) {
    .divisor, .titulo, .redes, .redesF, .divisor-footer {
        justify-content: center;
    }
    .titulo h1 {
        font-size: 1.8rem;
    }
    footer{
        justify-content: center;
        flex-direction: column;
    }
    header{
        justify-content: center;
        flex-direction: column;
    }
    .aux{
        display: none;
    }
}
.redesF {
    justify-content: center;
    gap: 5%;
    max-height: 60px;
}
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: transform 0.3s ease;
    }

.whatsapp:hover {
    transform: scale(1.1);
}

.whatsapp img {
    width: 40px;
    height: 40px;
    display: block;
}
.BotonModoOscuro {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #222;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 90px;
    right: 20px;
    z-index: 1500;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.BotonModoOscuro img {
    width: 30px;
    height: 30px;
}

.BotonModoOscuro:hover {
    transform: scale(1.1);
    background-color: #444;
}
.ModoOscuro{
    background-color: #464646;
    color: #ffffffff;
}
.ModoOscuro h1 {
    color: #f7d600;
}
.ModoOscuro header, .ModoOscuro footer{
    background-color: #0B0B0B;
}
.ModoOscuro body{
    background-color: #ffffff;
}
.BTNinfo {
    margin-top: 10px;
    background-color: #000000;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
.ModoOscuro .BTNinfo{
    background-color: #ff0000;
    color: #0B0B0B;
}
html {
    scroll-behavior: smooth;
}
.card img {
    transition: transform .3s;
}

.card:hover img {
    transform: scale(1.03);
}
